{erl_opts, [debug_info]}.
{deps, [
    {egl, {git, "https://github.com/erlangsters/egl-1.5.git", {tag, "master"}}},
    {glfw, {git, "https://github.com/erlangsters/glfw.git", {tag, "master"}}}
]}.

{profiles, [
    {docs, [
        {plugins, [rebar3_ex_doc]},
        {ex_doc, [
            {main, "README.md"},
            {extras, [
                "README.md"
            ]},
            {source_url, "https://github.com/erlangsters/beam-window"}
        ]}
    ]}
]}.
